{% extends '::base.html.twig' %}
{% block body %}


    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Model</li>
        </ol>
    </div>



    <div class="container nos-produits">
        <div class="row">
{% for item in templates %}
                <div class="col-md-3">
                    <div class="item">

                        <a href="{{ path('models',{id:item.id}) }}">
                            <img src="{{ asset('uploads/'~item.picture) }}" alt="Image">
                            <div class="item-content " style="background: #ffdd52">{{ item.name }}</div>
                        </a>
                    </div>
                </div>
{% endfor %}
        </div>

    </div>

{% endblock %}